*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.wapper{
}

.navbar{
    background-color: white;
    margin: 40px 0px;
    position: sticky;
    z-index: 1000;
    top: 0;
    border-top: 1px solid 1px;
}

.navbar .wapper{
    height: 100px;
    margin: 0px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navlogo h1{
    color: #484848;
    font-family: 'Volkhov', serif;
    font-size: 52px;
    font-weight: 400;
}



.navbar .navitem ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .navitem ul{
   list-style: none;
}

.navbar .navitem ul li a{
    text-decoration: none;
    /* color: #b3d9ff; */
    font-size: 16px;
    font-weight: 400;
    padding: 10px 10px;
    cursor: pointer;
    transition: color 0.4s ease;
    font-family: 'Poppins', sans-serif;
    color: #484848;
    transition: 0.9s color ease;
}
.navbar .navitem ul li a:hover{
    border-bottom: 3px solid black;
}


.navbar .navitem ul button{
    text-decoration: none;
    border-radius: 10px;
    background-color: black;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    transition:  0.5s ease all;
    color: white;
    box-sizing: border-box;
}

.navbar .navitem ul button a{
    text-decoration: none;
    color: white;
    padding: 20px 40px ;
}

.navbar .navitem ul button a:hover{
    color: black;
}

.navbar .navitem ul button:hover{
    color: black;
    box-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; 
    background-color: white;
    font-weight: 500;
}